@use '../../styles/fonts';
@use '../../styles/pallete';
@use '../../styles/spacing';

.Menu-component {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    transition: all 0.3s ease-in-out;

    &-icon {
        fill: pallete.$primary-dark;
        font-size: 24px;
    }
}

.Panel-menu-component {
    transition: all 0.3s ease-in-out;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: pallete.$white;
    top: 0;
    left: 0;
}